---
interface Props {
    tab: string;
    text: string;
}

const { tab, text } = Astro.props
---
<li><button id-tab={tab} class="header-button">{text}</button></li>

<script src="../scripts/tab.js"></script>